{#
name: affiliation.ldt.j2
description: template to turn information on standardized affiliations into triples 
input: data/reference_data/AffiliationInfo.csv
#}

{%- include 'includes/prefixes.ttl' %}

@base <http://lifewatch-user-analysis-2023> . #to decide baseref for this use-case project

{%- for _ in sets['_']%}
{%- if _.MarineInfo_ID != '-' %}
<{{ _.MarineInfo_ID}}>
{%- elif _.ROR_ID != '-' %}
<{{_.ROR_ID}}>
{%- else %}
</affiliation/{{ _.local_ID }}>
{%- endif %}
        a schema:Organization ;

        schema:name {{_.stand_institute | ttl("xsd:string") | safe }} ; 
        
        schema:address [
            a schema:Postaladdress ; 
            schema:addressCountry [
                a schema:Country ; 
                schema:name {{ _.country_official_name | ttl("xsd:string") | safe }} ; 
                schema:identifier <{{_.country_url}}> ; 
                wikidata_prop:P297 {{ _.country_alpha2 | ttl("xsd:string") | safe }} ; 
                wikidata_prop:P298 {{ _.country_alpha3 | ttl("xsd:string") | safe }} ;
            ] ; 
        ] ; 

        {%- if _.flemish %}
        lw:isFlemish "true"^^xsd:boolean ; 
        {%- endif %}

        {%- if _.group %}
        lw:group lw:{{ _.group.split(' ') | join('_') | safe }} ;
        {%- endif %}

        {%- if _.qh %}
        lw:qh lw:{{ _.qh.split(' ') | join('_') | safe }} ; 
        {%- endif %}
.
{%- endfor %}