{% include 'includes/prefixes.ttl' %}

@base <{{baseref()}}/{{_.identifier}}> . #to decide baseref

<>
    a schema:Person ; 

    schema:affiliation [
        a schema:Organization ; 
        {%- if _.stand_institute %}
        schema:name {{_.stand_institute | ttl("xsd:string")}} ; 
        {%- endif %}

        {%- if _.country %}
        schema:address [
            a schema:Postaladdress ; 
            schema:addressCountry {{ _.country | ttl("xsd:string")}} ; 
        ] ; 
        {%- endif %}

        {%- if _.flemish %}
        lw:isFlemish "true"^^xsd:boolean ; 
        {%- endif %}

        {%- if _.flemish %}
        lw:group {{ _.group | ttl("xsd:string")}} ; 
        {%- endif %}

        {%- if _.flemish %}
        lw:qh {{ _.qh | ttl("xsd:string")}} ; 
        {%- endif %}
    ] ; 
.