{#
name: datasystem_users_dump.ldt.j2
description: template to turn data on users of the LifeWatch datasystem into triples 
input: data/*_info_added.csv
#}
{%- if ctrl.isFirst %}
{%- include 'includes/prefixes.ttl' %}

@base <http://lifewatch-user-analysis-2023> . #to decide baseref for this use-case project
{%- endif %}

</user/{{_.user_identifier}}>
    a schema:Person ; 

    schema:affiliation [
        a schema:Organization ; 
        {%- if _.stand_institute %}
        schema:name {{_.stand_institute | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {% if _.MarineInfo_ID %}
        schema:identifier <{{_.MarineInfo_ID}}> ;
        {#{% else if _.MarineInfo_ID  %}
        {% else%}#}
        {%- endif %}
        {%- if _.country_url %}
        schema:address [
            a schema:Postaladdress ; 
            schema:addressCountry {{ _.country_url | ttl("xsd:anyURI") | safe }} ; 
        ] ; 
        {%- endif %}

        {%- if _.flemish %}
        lw:isFlemish "true"^^xsd:boolean ; 
        {%- endif %}

        {%- if _.group %}
        lw:group lw:{{ _.group.split(' ') | join('_') | safe }} ; 
        {%- endif %}

        {%- if _.qh %}
        lw:qh lw:{{ _.qh.split(' ') | join('_') | safe }} ; 
        {%- endif %}
    ] ; 
.